<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Password Generator</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
 <script src = "ejs.js"></script>
</head>

<body>
 <div class="row">
   <div class="col-sm-12">
    <div class="well">
     <h3>Password Generator</h3>
     <div class="row text-center">
     <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
            
            <div class="card-body">
               <input type="number" class="form-control" id="length" name="length">
               <p id="password" class="form-control">Password</p>
            </div> 
             <div class="card-footer">
              <button type="button" id="button" class="btn btn-primary">Generate</button>
            </div>  
       
            </div> 
         </div>
       </div>
      </div>
      </div>
    </div>
    


     
   
</body>   
   <script>
   var len = document.getElementById("length");
   var btn = document.getElementById("button");
   btn.addEventListener("click", function(){ 
  var value = len.value;
	var length1;
	if((value == ""))
	{
	   length1=12;
	}
     else
	 {
		length1 = value;
	 }
     var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*",
         retVal = "";
    for (var i = 0, n = charset.length; i < length1; ++i) {
        retVal += charset.charAt(Math.floor(Math.random() * n));
    }
    document.getElementById("password").innerHTML = retVal;}
    );
   </script>
</html>     