<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Home</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
 </style>
</head>
<body>
 <div class="container">
  <div class="page-header text-center">
   <h1>Home</h1>
   <a href="/logout" class="btn btn-danger btn-sm">Logout</a>
  </div>

  <div class="row">
   <div class="col-sm-12">
    <div class="well">
     <h3><span class="fa fa-user"></span> Welcome <%= user.username %></h3>
     <div class="row text-center">

        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
            
            <div class="card-body">
              <h4 class="card-title">Password Vault</h4>
              <p class="card-text">Your passwords are safe with us.</p>
            </div>
            <div class="card-footer">
              <a href="/tab" class="btn btn-primary">Open Vault</a>
            </div>
          </div>
          
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
           
            <div class="card-body">
              <h4 class="card-title">Password Generator</h4>
              <p class="card-text">Generate a secure password now.</p>
            </div>
            <div class="card-footer">
              <a href="/pass" class="btn btn-primary">Generate</a>
            </div>
          </div>
        
        </div>

      </div>
    
    
    
    </div>
   </div>
  </div>
 </div>
</body>
</html>